<h2>My Heroes</h2>

<div>
  <label>Hero name:</label> <input #heroName />
  <button (click)="onAdd(heroName.value); heroName.value=''">Add</button>

<ul class="heroes">
  <li *ngFor="let hero of heroes; let i = index" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span class="badge">{{i+1}}</span>
    <span>{{hero.name}}</span>
    <button class="delete" (click)="onDelete(hero); $event.stopPropagation()">x</button>
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} is my hero</h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
